@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Radio+Canada&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins;
}

/* .navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-70 backdrop-blur-sm dark:bg-opacity-50;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
} */

.navbar-fixed {
  @apply z-50 border-b-2 border-slate-300 bg-white bg-opacity-70 backdrop-blur-lg;
}

.active {
  @apply relative font-medium text-primary-100;
}

/* .active::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color: currentColor; 
  transform: scaleX(0);
  transition: transform 0.3s ease; Efek transisi
} */

body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #6874b9;
  --sb-size: 5px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
/* css konsultasi */
#konsultasi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backg {
  background-image: url('../assets/konsultasi/Rectangle87.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 90%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-right: 200px;
}

.text_konsultasi {
  color: #ffffff;
  max-width: 70%;
  margin-left: 20px;
}

.input_konsultasi {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 200px;
  margin-top:20px;
  color:#000;

}

.input-group {
  margin-top: 20px;
}

.btn_konsultasi {
  border: none;
  border-radius: 15px;
  padding: 12px 24px;
  background-color: #F89B11;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.btn_konsultasi:hover {
  background-color: #FFAC2F;
}

.vektor_konseling {
  max-width: 50%;
  height: auto;
  position: absolute;
  top: 49%;
  right: -160px;
  transform: translateY(-53%);
  z-index:1;

}

@media screen and (max-width: 768px) {
  .backg {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-left:200px ;
    margin-top:10vh;
  }

  .vektor_konseling {
    position: static;
    top: auto;
    margin-bottom: 20px;
    right: auto;
    max-width: 100%;
  }

  .text_konsultasi {
    max-width: 100%;
    margin-left: 0;
    margin-top:-35vh;
    font-size: 11px;
  }

  .input_konsultasi{
    font-size:14px;
  }
}
/* css close konsultasi */



.line {
  @apply absolute -bottom-1 left-0 -z-[99] h-2 w-0 bg-yellow;
}

.flip-card {
  @apply h-64 w-48 bg-transparent;
  perspective: 1000px;
}

.title {
  @apply text-center text-2xl font-black;
}

.flip-card-inner {
  @apply relative h-full w-full text-center transition-transform duration-700;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  @apply absolute flex h-full w-full flex-col justify-center rounded-2xl border border-primary-200 shadow-lg;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  @apply bg-primary-200 text-white;
}

.flip-card-back {
  @apply bg-yellow text-white;
  transform: rotateY(180deg);
}


